<div>
    <h2 id="page-heading">
        <span>Browse</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    
        <!-- this is the start of the grid for Browser results-->
    <div class="grid grid-pad" *ngIf="browseResults">
        <span *ngFor="let searchResult of browseResults ;trackBy: trackId" class="col-14">
            <span>
                <div>{{searchResult.thumbnail}}</div>
                <!-- <div><a href="https://www.youtube.com/embed/{{searchResult.videoId}}">here is the uri interpolated</a></div> -->
                <iframe width="280" height="158" [src]="searchResult.url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </span>
            <div class="text-right"> </div>
        </span>
    </div>
    <!-- this is the end of the grid for Browser results-->
</div>
