<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="browse">
            <h2><span >Browse</span> {{browse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="zipFlix2App.browse.videoId">Video Id</span></dt>
                <dd>
                    <span>{{browse.videoId}}</span>
                </dd>
                <dt><span jhiTranslate="zipFlix2App.browse.thumbnail">Thumbnail</span></dt>
                <dd>
                    <span>{{browse.thumbnail}}</span>
                </dd>
                <dt><span jhiTranslate="zipFlix2App.browse.category">Category</span></dt>
                <dd>
                    <span>{{browse.category}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/browse', browse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
